# Dependances
node_modules/

# Build de production
dist/

# Fichiers d'environnement
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editeurs
.vscode/*
!.vscode/extensions.json
.idea/
*.sublime-project
*.sublime-workspace

# Systeme
.DS_Store
Thumbs.db

# Cache
.cache/
*.log
